/* .loginForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width:100px;
} */
 /* Login.css */
.loginForm {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff4f4;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .error {
    color: #red;
    margin-bottom: 10px;
  }